* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
   
}

body{
    background-color: rgb(209, 193, 88);
    background-image: url("img/final00.gif");
    height: 500px;  /*alto de todo el body*/
    width: 700px; 
   /* display: flex;  Hace flexible el tamaño de los elementos, para que se acomoden todas a un 
    mismo nivel osea que dejaría todas las cartas a una misma altura, aunque les achica el tamaño*/
    /* alinea a sus hijos sobre el eje vertical, en este caso los hijos son los div*/
    /*justify-content: center;  justifica a los hijos en el eje horizontal, y por este
    motivo voy a tener que colocar el mismo width que eliga, para todas las class padre*/
    /* align-items: center; centra a los hijos en el eje vertical*/
    /* background-image: url(img/images33.gif); lo mejor es llamar desde
    aqui a la imagen para utilizarla de fondo*/
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;/* hace que la imagen de fondo quede totalmente visible, 
    sin importar si tapa o no todo lo debajo*/
    /*background-size: cover;  hace que la imagen de fondo tape totalmente lo que este debajo,
    sin importar si para ello la imagen de fondo pierde visibilidad completa*/
}



/* --------*/
/* --------- BOTON ENLACE A index.html  ---------------------------------------------------*/

.btn-final {
    transition: all 0.6s ease;
    z-index: 1;
}

.btn-final::after{
    content: " ";
    position: absolute;
    width: 1%;
    height: 6%;
    left: 46%;
    top: 65%;
    background-color: rgb(191, 44, 157);
    transform: skew(-20deg, 0deg);
    transition: all 0.4s ease;
}


.btn-final::before{
    content: " REINICIAR > > >";
    font-family: cursive;
    position: absolute;
    width: 11%;
    height: 5%;
    left: 47%;
    top: 65%;
    transform: skew(-20deg, 0deg);
    border: 3px solid #c17491;
    background-color: #c17491;
    transition: all 0.4s ease;
     
}

.btn-final:hover::after{
    background-color: aqua; 
    transform: skew(-20deg, 0deg) translateX(155px);
}

.btn-final:hover::before{
    background-color: aqua; 
    border: 3px solid  aqua;
    transform: skew(-20deg, 0deg) scale(1.1);
}