* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}



body { 
    height: 650px;
    width: 1400px; 
    background-size: auto;
    background-repeat: no-repeat; 
}
 
.cesped {
    height: 300px;
    width: 700px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: -800px; 
}

canvas {
    height: 300px;
    width: 700px;
    margin-left: 0px;
    margin-right: auto;
    margin-top: -500px;  
}



 